{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-flow-strip-types",
    ["inline-dotenv",{
        "path": "config/.env.public"
      }]
  ],
  "env": {
    "test": {
    },
    "development": {
    },
    "production": {
    }
  }
}
