{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-flow-strip-types",
    "babel-plugin-inline-react-svg",
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ],
    ["inline-dotenv",{
        "path": "config/.env.public"
      }]
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "development": {
    },
    "production": {
    }
  }
}
